* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  font-size: 16px;
}

:root {
  --bg-color: #0f1822;
  --text-color-light: #fff;
  --main-color: #ffa784;
  --border-color: #5a5a6c;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color-light);
  overflow: hidden;
}
a {
  text-decoration: none;
}

/* NAVBAR */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 12% 1rem;
  background: #101010a6;
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.header a {
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  color: var(--text-color-light);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}
.logo span {
  text-shadow: 0 0 10px var(--main-color);
}

.navbar a {
  font-size: 1rem;
  color: var(--text-color-light);
  margin-left: 2rem;
  font-weight: 400;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

/* HERO SECTION */

.home {
  min-height: 100vh;
  padding: 8rem 12% 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}
.home-content span {
  color: var(--main-color);
}
.home-content p span {
  display: block;
  margin-top: 1rem;
  color: var(--text-color-light);
}
.logo span {
  color: var(--main-color);
}

.home-content h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.home-content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin-top: 1.2rem;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  top: 3rem;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 15px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 5px var(--main-color), 0 0 20px var(--main-color),
    0 0 30px var(--main-color);
}

.home-content p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}
.social-icons {
  display: flex;
}
.social-icons a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.3rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 2rem 1.2rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  transform: scale(1.05) translateY(-2px);
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background: var(--main-color);
  border-radius: 3.5rem;
  font-size: 1.4rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.04);
  background-color: #fff;
  color: var(--bg-color);
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.btn-group a {
  text-decoration: none;
}

.btn-group a:nth-of-type(2) {
  background-color: var(--bg-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn-group a:nth-of-type(2):hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Frontend Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Frontend Developer";
  }
  21%,
  40% {
    content: "Web Designer";
  }
  41%,
  60% {
    content: "Website Developer";
  }
  61%,
  80% {
    content: "UI / UX Designer";
  }
  81%,
  100% {
    content: "HTML/CSS/JS Developer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/* WORK SECTION */

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-title {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  padding: 8rem 0 6rem;
}

.header-title h1 {
  font-size: 4rem;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  color: var(--text-color-light);
}

.header-description {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.header-description p {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.7;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 95%;
  margin: 0 4vw;
  margin-bottom: 6rem;
  /* background-color: #d3d5d7;
  padding: 3rem 0; */
}
.box-grid p {
  color: #ffffff;
  margin-top: 1.2rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.img-container {
  position: relative;
  overflow: hidden;
  transition: border 0.3s ease;
  border: 1px solid transparent;
}

.box-grid {
  padding: 1rem;
}

.box-grid:nth-child(1),
.box-grid:nth-child(2),
.box-grid:nth-child(4),
.box-grid:nth-child(5) {
  border-right: 1px solid var(--border-color);
}

.box-grid:nth-child(1),
.box-grid:nth-child(2),
.box-grid:nth-child(3) {
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}
.box-grid:nth-child(4),
.box-grid:nth-child(5),
.box-grid:nth-child(6) {
  border-bottom: 1px solid var(--border-color);
}
.box-grid:nth-child(1),
.box-grid:nth-child(4) {
  border-left: 1px solid var(--border-color);
}
.box-grid:nth-child(3),
.box-grid:nth-child(6) {
  border-right: 1px solid var(--border-color);
}
.img-container img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* .img-container:hover {
  border-color: var(--border-color);
} */

.img-container:hover img {
  transform: scale(0.98);
}

/* SERVICES SECTION */

.services-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 12%;
  margin-top: 3rem;
}

.services-wrapper {
  display: flex;
  gap: 4rem;
  width: 100%;
}
.services-wrapper .services-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 50%;
}

.services-wrapper .services-content .services-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ffa784 0%, #d66d75 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
}

.services-content h3 {
  font-size: 3.8rem;
  color: var(--text-color-light);
  font-family: "Roboto";
  line-height: 4.5rem;
}
#solution-heading span {
  display: block;
}
.services-description {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}
.service-buttons a button {
  width: 11rem;
  height: 11rem;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--main-color);
  border-radius: 50%;
  border: 0.5px solid var(--main-color);
  transition: 0.6s;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.service-buttons a button span {
  display: block;
}
.service-buttons a:nth-child(1) button {
  color: var(--bg-color);
}

.service-buttons a button::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--text-color-light);
  border-radius: 50%;
  transition: 0.6s;
  z-index: -1;
}
.service-buttons a button:hover::after {
  width: 100%;
  height: 100%;
}
.service-buttons a:nth-of-type(2) button:after {
  background-color: var(--main-color);
  color: #000;
}
.service-buttons a:nth-of-type(2) button {
  background-color: #1a2330;
  margin-left: -4rem;
  color: var(--text-color-light);
  border-color: #161d26;
}
.service-buttons a:nth-of-type(2) button:hover {
  color: var(--bg-color);
  border-color: var(--main-color);
}

.service-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.service-container .service {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.service-container .service .service-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1.8rem 0px;
  border-bottom: 0.2px solid var(--border-color);
  transition: 1s;
}
.service-container .service .service-title h2 {
  font-size: 1.8rem;
  letter-spacing: 0.6px;
  color: var(--text-color-light);
  font-weight: 500;
}

.active-heading {
  background: linear-gradient(90deg, #ffa784 0%, #d66d75 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.service-container .service .service-title i {
  font-size: 2.3rem;
  color: var(--text-color-light);
}

.service-description {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0.7rem 0;
  transition: 0.6s;
  opacity: 0;
  height: 0;
  z-index: -1;
}

.active-desc {
  height: 13rem;
  opacity: 1;
  transition: 0.6s;
  z-index: 1;
  animation: show-description 0.6s linear forwards;
}

@keyframes show-description {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.service-description p {
  font-size: 1.07rem;
  font-weight: 500;
}

.service-description ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem;
}

.service-description ul li {
  font-size: 1.05rem;
  color: var(--text-color-light);
}

.slider {
  display: flex;
  align-items: center;
  padding: 3rem 0 6rem 0;
  max-width: 100vw;
  overflow: hidden;
}

/* .slider::after,
.slider::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
} */

.slider::before {
  left: 70%;
  width: 600px;
  transform: rotate(180deg);
}

.slider h1 {
  font-size: 6rem;
  font-weight: 700;
  color: var(--text-color-light);
  animation: slide 35s infinite linear;
  text-transform: uppercase;

  font-family: "Roboto";
}

.slider h1 span {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text-color-light);
  color: transparent;
  letter-spacing: 3px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1400px) {
  .services-container {
    margin-top: 0;
    padding: 30px 12%;
  }
  .service-buttons button:nth-of-type(2) {
    margin-left: -40px;
  }
  .service-buttons button {
    height: 150px;
    width: 150px;
    font-size: 18px;
  }
  .slider {
    padding: 30px 0;
  }
}

@media (max-width: 1100px) {
  .services-wrapper {
    flex-direction: column;
  }
  .services-wrapper .services-content {
    width: 100%;
  }
  .service-container {
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 780px) {
  .services-wrapper .services-content h3 {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
  .slider::before {
    left: 30%;
  }
}

/* ************************************/
/* FOOTER*/
/************************************/

.footer {
  padding: 5rem 7vw 8rem 10vw;
  background-color: #fff;
  color: rgb(57, 57, 57);
}
.footer-heading {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 8vw;
  width: 100vw;
}
.nav-col:nth-child(1) p {
  width: 15rem;
}
footer a {
  text-decoration: none;
  color: rgb(57, 57, 57);
}
footer ul {
  list-style: none;
}
.social-links {
  display: flex;
  gap: 1.8rem;
  margin-top: 1.5rem;
}

.footer-link i {
  color: var(--main-color);
  font-size: 2.8rem;
}
.email i {
  color: var(--main-color);
  font-size: 2rem;
}
.footer-link i:hover {
  color: #f19774;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
}
.email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.email p {
  font-size: 1rem;
}

@keyframes move-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

@media (max-width: 2000px) {
  html {
    font-size: 18px;
  }
  .home-content h1 {
    font-size: 3.7rem;
  }
  .home-content h3 {
    font-size: 2rem;
  }
  .home {
    gap: 15rem;
  }
}
@media (max-width: 1800px) {
  html {
    font-size: 17px;
  }
  .home-content h1 {
    font-size: 3.5rem;
  }
  .home-content h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 1500px) {
  html {
    font-size: 16px;
  }
  .home-content h1 {
    font-size: 3.3rem;
  }
  .home-content h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 1350px) {
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content h3 {
    font-size: 1.4rem;
  }
  .home {
    gap: 9rem;
  }
}

@media (max-width: 1150px) {
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content h3 {
    font-size: 1.4rem;
  }
  .home {
    gap: 7rem;
  }
}
@media (max-width: 895px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 55%;
    padding: 1rem 3%;
    background: rgba(30, 37, 51, 0.897);

    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }
  .home {
    flex-direction: column-reverse;
    margin: 2rem 2rem 0;
  }
  .home-content {
    width: 100%;
  }
  .home-content h3 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }
  .home-content h1 {
    font-size: 4rem;
  }
  .home-content p {
    max-width: 600px;
    margin: 0 auto;
  }
  .home-img img {
    width: 56vw;
  }
  .header-container {
    margin-top: -1rem;
  }
  .header-description {
    width: 75%;
  }
  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
  }
  .box-grid:nth-child(3) {
    border-left: 1px solid var(--border-color);
    border-top: none;
  }
  .box-grid:nth-child(4) {
    border-left: none;
  }
  .box-grid:nth-child(5) {
    border-left: 1px solid var(--border-color);
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .home-content h1 {
    font-size: 3.2rem;
  }
  .scrolling-text {
    height: 3rem;
  }
  .scrolling-text p {
    font-size: 2rem;
  }
  .active-desc {
    height: 15rem;
  }
  .slider {
    padding: 2rem 0 4rem 0;
  }
  .slider h1 {
    font-size: 5rem;
  }
}

@media (max-width: 550px) {
  .btn {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
  }
  .home-content h3 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  .home-content h1 {
    font-size: 2.8rem;
  }
  .portfolio-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .box-grid:nth-child(3),
  .box-grid:nth-child(5) {
    display: none;
  }
  .box-grid:nth-child(2),
  .box-grid:nth-child(6),
  .box-grid:nth-child(4) {
    border-left: 1px solid var(--border-color);
  }
  .box-grid:nth-child(6),
  .box-grid:nth-child(4) {
    border-top: 1px solid var(--border-color);
  }
  .slider h1 {
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  .btn {
    font-size: 1.2rem;
    padding: 0.6rem 1.1rem;
  }
  .header {
    height: 5rem;
  }
  .home {
    gap: 4rem;
    margin: -1rem 0.8rem;
  }
  .home-content h3 {
    font-size: 1.3rem;
  }
  .home-content h1 {
    font-size: 2.1rem;
    margin-top: -0.3rem;
  }
  .home-content p {
    font-size: 1.1rem;
  }
  .navbar a {
    font-size: 1.7rem;
  }
  #menu-icon {
    font-size: 2.5rem;
  }
  .header-title {
    padding: 6rem 0 5rem;
  }
  .header-title h1 {
    font-size: 3rem;
  }
  .social-icons {
    gap: 0.1rem;
  }
  .social-icons a {
    width: 3rem;
    height: 3rem;
  }
  .social-icons a i {
    font-size: 2rem;
  }
  .box-grid {
    padding: 0.6rem;
  }
  .active-desc {
    height: 16rem;
  }
  .slider h1 {
    font-size: 3.5rem;
  }
  .service-buttons a:nth-of-type(2) button {
    margin-left: -3.5rem;
  }
  .service-container .service .service-title h2 {
    font-size: 1.5rem;
  }
  .service-buttons a button {
    width: 10rem;
    height: 10rem;
  }
  .service-container .service .service-title i {
    font-size: 1.8rem;
  }
  .services-wrapper {
    gap: 1.5rem;
  }

  .services-wrapper .services-content .services-title {
    font-size: 1.4rem;
  }
  #solution-heading {
    font-size: 3rem;
  }
}
@media (max-width: 390px) {
  .btn {
    font-size: 1.05rem;
    padding: 0.4rem 0.6rem;
  }
  .btn-group a:nth-child(2) {
    margin-left: -0.5rem;
  }
  .social-icons a {
    margin-left: -0.3rem;
  }
  .social-icons a:nth-child(1) {
    margin-left: 0;
  }
  .footer-container {
    grid-template-columns: 1fr;
    gap: 1.7rem;
  }
  .nav-col:nth-child(2) {
    display: none;
  }
  .nav-col:nth-child(3) p:nth-child(1) {
    display: none;
  }
  .header-description p {
    font-size: 1.15rem;
  }
  .active-desc {
    height: 17rem;
  }
  .service-container .service .service-title h2 {
    font-size: 1.3rem;
  }
  .services-wrapper {
    gap: 1rem;
  }
  .slider {
    padding: 1.5rem 0 3rem 0;
  }
  .slider h1 {
    font-size: 3rem;
  }
  .service-buttons a button {
    width: 9rem;
    height: 9rem;
  }
  .service-buttons a:nth-of-type(2) button {
    margin-left: -3rem;
  }
  .service-container .service .service-title i {
    font-size: 1.6rem;
  }
  .services-wrapper .services-content .services-title {
    font-size: 1.2rem;
  }
  #solution-heading {
    font-size: 2.3rem;
  }
}
